[Unit]
Description=openHAB 2
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/opt/openhab/docker/openHAB
ExecStop=-/usr/bin/docker stop -t 2 openhab ; /usr/bin/docker rm -f openhab

[Install]
WantedBy=multi-user.target
