[Unit]
Description=OpenHAB 2
Requires=docker.service
[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStarPre=-/usr/bin/docker stop openhab
ExecStart=/opt/openhab/docker/openHAB
ExecStop=-/usr/bin/docker stop openhab

[Install]
WantedBy=multi-user.target
